<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update data</h1>
    <form action="" method="post">
    <input type="hidden" name="id" value="<%= data[0].id %> "><br><br>
    <input type="name" name="name" value="<%= data[0].name %> " placeholder="Name"><br><br>
    <input type="email" name="email" value="<%= data[0].email %> " placeholder="E-mail"><br><br>
    <input type="name" name="contact" value="<%= data[0].contact %> " placeholder="Contact"><br><br>
    <button value="submit">Update</button>
    </form>
</body>
</html>